@charset "UTF-8";
* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 14px;
}
#contenedor {
	width: 90vw;
	height: 300vh;
	background-color: #848484;
	margin-left: auto;
	margin-right: auto;
	
}

#contenedor header {
    width: 90vw;
    height: 10vh;
    font-size: 1rem;
    z-index: 10;
    position: fixed;
    top: 0px;
    background-color: #8C5627;
}
#logo{
    width: 20vw;
    height: 10vh;
    float: left;
    background-color: #8C5627;
	
}

#contenedor header nav {
	width: 70vw;
	height: 10vh;
	float: left
}
#logo img {
    width: 67%;
    height: auto;
    padding-left: 8vw;
    padding-top: 2vh;
}

header nav ul {
	list-style-type: none;
}
nav ul li {
    width: calc(70vw /3);
    height: 10vh;
    float: left;
    text-align: center;
    line-height: 10vh;
}
ul li a {
	color: rgba(255,255,255,1.00);
	font-weight: bold;
	text-decoration: none;
	font-size: 2rem;
}
#contenedor main {
    width: 90vw;
    height: 100vh;
    float: left;
    margin-top: 10vh;
    padding-left: 0px;
    background-image: url(../img/inicio.jpg);
    background-position: center 0%;
    background-size: cover;
}
.kali {
    color: #422B0E;
    font-size: 4rem;
    text-align: center;
    padding-top: 8vh;
    padding-left: 8vw;
    padding-right: 8vw;
}
.informacion {
    color: #3D2C26;
    text-align: center;
    font-size: 2rem;
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 8vh;
}
.iconos {
    padding-left: 42vw;
    padding-right: 38vw;
    padding-top: 3vh;
}


.iconos a {
    color: #3D2C26;
}
.fa-brands.fa-instagram {
    color: #3D2C26;
    font-size: 3em;
    text-align: center;
}
.fa-brands.fa-facebook {
    color: #3D2C26;
    font-size: 3em;
    text-align: center;
}
.fa-brands.fa-x-twitter {
    color: #3D2C26;
    font-size: 3em;
    text-align: center;
}






.espaciador {
	width: 90vw;
	height: 20vh;
}




#sec1  {
    width: 90vw;
    height: 100vh;
    float: left;
    background-color: aqua;
}

.foto1 {
    width: 30vw;
    float: left;
    height: 100vh;
    background-color: #8C5627;
}



.titulo {
    color: rgba(255,255,255,1.00);
    font-size: 2rem;
    text-align: center;
    padding-left: 9vw;
    padding-right: 8vw;
    padding-top: 3vh;
    float: left;
    font-weight: bold;
}



.descripcion {
    color: rgba(255,255,255,1.00);
    font-size: 2rem;
    text-align: center;
}

.ft2 {
    width: 100%;
    height: auto;
    padding-top: 3vh;
    padding-bottom: 1vh;
    padding-right: 3vw;
    padding-left: 3vw;
}


.img2 {
    width: 30vw;
    height: 100vh;
    float: left;
    background-color: #8C5627;
}
.fto3 {
    width: 30vw;
    height: 100vh;
    float: left;
    background-color: #8C5627;
}
.f1 {
    width: 100%;
    height: auto;
    padding-top: 3vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
}



#sec2  {
    width: 90vw;
    height: 80vh;
    float: left;
}
#contenedor #sec2 .nosotros {
    width: 90vw;
    height: 80vh;
    float: left;
}
.contenido {
    width: 30vw;
    height: 80vh;
    float: left;
    background-color: #F2C288;
}
.fotoo4 {
    width: 60vw;
    height: 80vh;
    float: left;
}
.fotoo4 img  {
    width: 100%;
    height: auto;
}






.acerca {
    color: #3D2C26;
    font-size: 3rem;
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 15vh;
}
.texto2  {
    color: #3D2C26;
    font-size: 2rem;
    text-align: center;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


#contenedor footer {
    width: 90vw;
    height: 20vh;
    float: left;
    background-color: #B0733D;
}


.Contactanos {
    color: #FDFDFD;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 8vh;
}
.Contactanos a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    text-transform: none;
    padding-left: 5vw;
    padding-bottom: 5vh;
    padding-top: 10vh;
    padding-right: 6vw;
}
.Contactanos a:hover  {
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    text-transform: none;
}
